.sidebar__logo{
    margin-bottom: 31px;
  }
  
  .menu{
    background-color: var(--color-black);
    color:var(--color-white);
    border-right:none;
  
  
  }
  
  .menu__item{
    ::selection{
      color:var(--color-white) !important;
      background-color:var(--color-black) !important;
    }
  }
  
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background: #282828;
    border-radius: 6px;
    color:var(--color-white);
  }
  
  .ant-menu-inline .ant-menu-item:after{
    border-right: none;
  }
  
  .ant-menu-item.ant-menu-item-active.menu__item{
    :hover{
      color:var(--color-white);
    }
  }