.genres {
  display: flex;
  align-items: center;
  cursor: pointer;
  .genres__item {
    display: flex;
    flex-direction: column;
    width: 414px;
    border-radius: 10px;
    transition: 1s;
    margin-right: 40px;

    .genres__title {
      color: var(--color-white);
      padding: 20px;
    }

    .img__container {
      width: 316px;
      height: 170px;
      position:relative;
      align-self: flex-end;

      img{
        mix-blend-mode: luminosity;
        border-radius: 93px 0px 10px;
      }
    }
  }
}

.genres__item:hover {
  transform: scale(1.02);
}
