.songsTable td{
    background-color: #121212;
}

.songsTable__img{
    margin-right: 13px;
    width: 64px;
    height:64px;
}

.songsTable__text{
    color:var(--color-white);
}

.songsTable__index{
    margin-bottom: 0 !important;
}

.ant-table-cell.ant-table-cell-row-hover{
    background-color: var(--color-smallCard) !important;
}

.ant-table-row.ant-table-row-level-0:hover p.songsTable__index{
    display: none !important;
}

.ant-table-row.ant-table-row-level-0:hover .card__play{
    display: block !important;
}

.ant-table-tbody>tr>td{
    border-bottom: none !important;
}

.name__container{
    display: flex;
    align-items: center;
}


.ant-table-thead>tr>th{
    background-color: #121212 !important;
    color:var(--color-white) !important;
    border-bottom: 0px !important;
}

.card__play{
    display: none;
}

