.content{
  min-height: 100vh !important;
  padding-bottom: 110px;
}

.ant-layout-sider.ant-layout-sider-dark.sidebar{
  padding: 31px 10px 13px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
}

.sidebar{
  padding: 31px 10px 13px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
}


.ant-layout.layout{
  background:#121212;
  padding: 0 30px;
}







