
  .ant-layout-header.header{
    height:88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#121212;
    padding: 0;
  }
  

  .ant-btn.ant-btn-link.header__button-signIn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: var(--color-white);
    border-radius: 20px;
    height:40px;
    color:var(--color-black);
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 0 !important;

    :hover{
      transform: scale(1.2);
      font-weight: 700;
    }
  }