.browse__wrapper{
    margin-top: 30px;

    .browses{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap:15px;

        .browse__item{
            display: flex;
            justify-content: space-between;
            flex-direction: column;        
            background-color: #27856A;
            border-radius: 10px;
            transition:1s;
            width:231px;
            height:231px;
            padding-top:21px;
            padding-left:21px;
            cursor: pointer;


            .browse__title{
                color:var(--color-white);

            }

            .img__container{
                align-self: flex-end;

                img{
                    mix-blend-mode: luminosity;
                    width: 112px;
                    height: 112px;
                }
            }




        }

        .browse__item:hover{
            transform: scale(1.03);
        }

        .browse__img::before{
   
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,.9);
                transition: all .3s ease;             
        }
    }
}