@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');


:root{
  --color-black:#000000;
  --color-white:#FFFFFF;
  --color-content:linear-gradient(180deg, #222222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18, 0) 100%);
  --color-smallCard:#303030;
  --color-card:#181818;
  --color-text:#B3B3B3;
}

body{
  font-family: 'DM Sans', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  height: 100vh;
}



